:root {
    --color-light-pink: #FF5DAB;
    --color-pink: #FF2A6D;
    --color-pink-10transparent: #FF2A6D1A;
    --color-pink-30transparent: #FF2A6D4D;
    --color-pink-40transparent: #FF2A6D66;
    --color-light: #D1F7FF;
    --color-light-60transparent: #D1F7FF99;
    --color-light-80transparent: #D1F7FFCC;
    --color-blue: #05D9E8;
    --color-dark-blue: #005678;
    --color-dark: #01012B;
}