* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "ThunderStrikeLaser";
    src: local("ThunderStrikeLaser"),
        url("./fonts/thunderstrikelaser.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "ThunderStrike";
    src: local("ThunderStrike"),
        url("./fonts/thunderstrike.ttf") format("truetype");
    font-weight: normal;
}

